services:
  - type: web
    name: portfolio-backend
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: MONGO_URI
        sync: false
      - key: PORT
        value: 5000
    plan: free

  - type: web
    name: portfolio-frontend
    env: node
    rootDir: portfolio/client
    buildCommand: npm install; npm run build
    startCommand: npm start
    envVars:
      - key: NEXT_PUBLIC_API_URL
        fromService:
          type: web
          name: portfolio-backend
          property: host
    plan: free
